# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.idea
/node_modules
/.pnp
.pnp.js
.directory

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.env

/.circleci/
backend/.idea/.gitignore
backend/.idea/backend.iml
backend/.idea/codeStyles/
backend/.idea/dbnavigator.xml
backend/.idea/misc.xml
backend/.idea/modules.xml
backend/.idea/vcs.xml
backend/docker-compose.yaml
backend/src/routes/context/stagingRafiqi/
frontend/.idea/
frontend/.yarnclean
